/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Spacing classes */

.p {
  &-x {
    &-3 {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &-y {
    &-5 {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
}
