<div class="content d-flex ai-center jc-center">
  <mat-card>
    <mat-stepper
      orientation="vertical"
      [linear]="linear"
      [orientation]="orientation"
      #stepper
    >
      <mat-step [stepControl]="welcomeForm">
        <ng-template matStepLabel>Hello there :)</ng-template>
        <form [formGroup]="welcomeForm">
          <div class="header d-flex ai-center m-b-3">
            <div class="caption m-r-4">
              <h1 class="m-0">So, tell me...</h1>
              <h3 class="m-0 subtitle">What brings you here?</h3>
            </div>
            <div class="first-exp-ownership">
              <mat-button-toggle-group formControlName="isProyected">
                <mat-button-toggle
                  *ngFor="let option of ownershipOptions"
                  [value]="option.value"
                  [matTooltip]="option.tooltip"
                  [matTooltipPosition]="'above'"
                >
                  {{ option.label }}
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
          <p class="story p-r-3">{{ story }}</p>

          <!-- <mat-form-field [appearance]="'fill'">
            <mat-select [placeholder]="'Pronoun'">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Pronoun" formControlName="pronoun" />
          </mat-form-field> -->
        </form>
        <!-- <div>
          <button mat-button matStepperNext>Next</button>
        </div> -->
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>So, tell me..</ng-template>
      </mat-step>
    </mat-stepper>
  </mat-card>
</div>
